header,
footer {
    display: none;
}

.main-title {
    text-align: center;
    text-shadow: 1px 1px 0 red;
    font-family: Oswald,sans-serif;
    font-size: 2em;
    line-height: 1em;
    letter-spacing: .6px;
    margin-bottom: 0.5em !important;
}

.main-description {
    text-align: center;
    margin-bottom: 1em;
}

.calendar-input-container {
    display: flex;
    padding: 2px 0px;
}

.calendar-input-caption {
    flex: 3;
}

.calendar-input-chooser {
    flex: 1;
    margin-left: 1em;
}

.calendar-input-chooser select {
    width: 100%;
}

.maxs-title {
    margin-bottom: 10px !important;
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.maxs-description {
    text-align: center;
    margin-bottom: 1em;
}

.rep-title {
    letter-spacing: 0px !important;
    text-align: center;
    font-weight: 300;
    color: #fff;
    display: inline-block !important;
}

input[type=text].rep-count-field {
    width: 40%;
    margin-left: 1em;
    border: 2px solid #d80a15;
    border-radius: 0;
    background: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
}

.ex-work-title {
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid red;
    font-size: 1.2em;
    font-weight: 600;
    color: #fff;
    line-height: 1.3em;
    margin-bottom: 1em;
}

.ex-max-block {
    display: flex;
    padding: 2px 0px;
}

.ex-max-title-container {
    flex: 3;
}

.ex-max-title-container label {
    display: inline-block;
    width: 100%;
}

.ex-max-title,
.calendar-input-caption {
    height: 35px;
    border-bottom: 3px solid #d80a15 !important;
    line-height: 34px;
    padding-bottom: 0px !important;
    font-size: 1.2em;
    color: #fff;
    text-align: left;
}

.ex-max-input-container {
    flex: 1;
    margin-left: 1em;
}

.ex-max-input-container input[type=number] {
    width: 100%;
    border-radius: 50px;
    padding-left: 20px;
    margin-top: 5px;
    line-height: 10px;
}

.tuning-container {
    color: #fff;
    margin-top: 1em;
}

.tuning-container input[type=checkbox] {
    margin-left: 1em;
}

.training-plan-title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.4em;
    color: #fff;
    text-align: center;
    width: 100%;
    font-weight: 900;
    background: #d80a15;
    line-height: 1.3em;
    padding: 10px 15px;
}

.ex-work-container {
    border: solid 1px #fff;
    padding: 20px !important;
}

.rest-rep {
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.rest-ex {
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
}